body, html {
    height: 100%;
    width:100%;
    overflow:hidden;
  }

body{
    background-image: url('/static/Illustration.png') no-repeat center center fixed !important;
}

.btn_div{
    margin-left:12%;
    
}

.upload_btn{   
    border-radius:100px;
    border: solid white;
    border-color:#37AC85;
    align-items: center;
    position: absolute;
    background: #37AC85;
    box-shadow: 0px 6px 12px rgba(125, 192, 145, 0.4);
    width: 210px;
    padding:5px;
    height: 50px;
    text-align:left;
    padding:5px;
    margin-top: 5%;
    margin-left: 2%;
  }

.btn-text{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    vertical-align: middle;
    color: #FFFFFF;
}
